# auth
MYSQL_HOST_AUTH=mysql_auth  # Ne dois pas changé
MYSQL_USER_AUTH=user_auth
MYSQL_PASSWORD_AUTH=password_auth
MYSQL_DB_AUTH=db_auth

MYSQL_ROOT_PASSWORD_AUTH=password_auth
MYSQL_DATABASE_AUTH=db_auth


# backend
MYSQL_HOST_API=mysql_api    # Ne dois pas changé
MYSQL_USER_API=user_api
MYSQL_PASSWORD_API=password_api
MYSQL_DB_API=db_api

MYSQL_ROOT_PASSWORD_API=api_pasword
MYSQL_DATABASE_API=db_api


# phpmyadmin
PMA_HOST_AUTH=mysql_auth    # Ne dois pas changé
PMA_USER_AUTH=user_auth
PMA_PASSWORD_AUTH=password_auth

PMA_HOST_API=mysql_api  # Ne dois pas changé
PMA_USER_API=user_api
PMA_PASSWORD_API=password_api


# client
VITE_API_URL=/api/